<!-- all the rc_path launch file will be launch here(maybe) -->
<launch>

  <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
        <remap from="cloud_in" to="/livox/pointcloud2"/>
            
                <rosparam>
                    # target_frame: rslidar # Leave disabled to output scan in pointcloud frame
                    transform_tolerance: 0.01
                    min_height: -0.4
                    max_height: 1.0
        
                    angle_min: -3.1415926 # -M_PI
                    angle_max: 3.1415926 # M_PI
                    angle_increment: 0.003 # 0.17degree
                    scan_time: 0.1
                    range_min: 0.2
                    range_max: 100
                    use_inf: true
                    inf_epsilon: 1.0
        
                    # Concurrency level, affects number of pointclouds queued for processing and number of threads used
                    # 0 : Detect number of cores
                    # 1 : Single threaded
                    # 2->inf : Parallelism level
                    concurrency_level: 1
                </rosparam>
        <remap from="scan" to="/scan"/>                
    </node>

  <!-- 在精确里程计定义下，odom其实是world->base_link，也即默认world和odom重合，但由于同时需要world -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_odom" 
        args="0 0 0 0 0 0 world odom 100"/>


  <!-- 将 odom 话题转换为 tf 坐标变换 -->
  <!-- 动态发布 odom -> base_link（订阅 /odom 话题） -->
  <node pkg="move_control" type="tf_odom_to_baselink_node" name="tf_odom_to_baselink_node" output="screen"/>

    <!-- 发布 base_link -> mid360 静态变换 -->
  <!-- args="x y z yaw pitch roll parent_frame child_frame period_in_ms" -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_mid360" 
        args="0.285 -0.14 0 0 0 0 base_link mid360 100"/>



</launch>